.animated-background {
  background: linear-gradient(50deg, #0069ff, #8917f2);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 15s ease infinite;
  -moz-animation: AnimationName 15s ease infinite;
  animation: AnimationName 15s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 96% 0%;
  }
  50% {
    background-position: 5% 100%;
  }
  100% {
    background-position: 96% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 96% 0%;
  }
  50% {
    background-position: 5% 100%;
  }
  100% {
    background-position: 96% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 96% 0%;
  }
  50% {
    background-position: 5% 100%;
  }
  100% {
    background-position: 96% 0%;
  }
}

.diagonal-box {
  transform: skewY(-11deg);
}

.content {
  max-width: 50em;
  margin: 0 auto;
  transform: skewY(11deg);
}
